<p id="notice"><%= notice %></p>
<div class="well">

	<fieldset>
    	<legend>Status content</legend>
	</fieldset>

	<p>
  		<strong>Name:</strong><br />
  		<%= @status.user.full_name %>
	</p>

	<p>
  		<strong>Content:</strong><br />
  		<%= @status.content %>
	</p>
</div>

<%= link_to 'Back', statuses_path, :class => 'btn btn-default'  %>
<%= link_to 'Edit', edit_status_path(@status), :class => 'btn btn-primary' %>   

